body {
    background-color: black;

    color: #FFF;

    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 24px;
}

.header {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: flex-start;
}

#quota, .weather-widget, .notes {
    flex: 1;
    margin: 10px;
}

@media only screen and (max-width: 768px) {
    .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #quota, .weather-widget, .notes {
        width: 100%;
        margin: 10px 0;
    }
}
@media only screen and (max-aspect-ratio: 9/16) {
    .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Optional: Ensures the container height takes up the entire viewport */
    }
}
/* Test Media Query */
@media only screen and (aspect-ratio: 1/1) {
    body {
        background-color: lightblue;
    }
}


.view {
    margin: 5px;

    min-width: 350px;
    width: fit-content;
    background-color: #000000;

    border: solid rgb(79, 1, 168) 3px;
    border-radius: 20px;

    overflow: hidden;

}

